.App {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.App-logo {
  width: 180px;
  height: 180px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
 
  }
} */

.App-header {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid rgb(213, 23, 23);
}

h1 {
  font-weight: 600;
  color: rgb(213, 23, 23);
}

.App-body{
  margin-top: 2.4rem;

}

.App-footer {
  border-top: 3px solid rgb(213, 23, 23);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}